{% load static %}

<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">

    <!-- bottom banner -->
    <div class="row">
        <div class="col-12 text-center">
            <img src="{% static 'images/banner_2.webp' %}" alt="Hanging Presents" class="img-fluid mb-3">
        </div>
    </div>
    <p class="m-0 text-center text-white">

            Logged in as {{ user }}
 
    </p>

    <p class="m-0 text-center text-white">
        {% block copyright %}
        &copy; Santa's Little Hackers
        {% endblock copyright %}
    </p>
</footer>