{% extends "base.html" %}
{% load static %}


{% block content %}


<!-- Household List Column. -->
<div class="row justify-content-center">
    <div class="col-md-2 offset-md-1">
        <a href="{% url 'add_house' %}" id="add-house-btn" class="btn btn-primary">Add a new home to visit!</a>
    </div>


    {% for household in household_list %}
    <div class="col-md-8 mb-3">
        <div class="card mb-8 household-item" data-id="{{ household.id }}">
            <div class="row">
                <div class="col-md-6 p-2 ml-md-2">
                    <h3 class="card-title pt-2 pb-2">{{ household.name }}</h3>
                    <p class="card-text text-muted h6">{{ household.city }} </p>

                    <input type="checkbox" class="visited-checkbox" id="{{ household.id }}-checkbox"
                        {% if household.visited %}checked{% endif %}>
                    <label for="{{ household.id }}-checkbox">Visited: {{ household.visited }}</label>
                </div>

                <div class="col-md-3">
                    <div class="col-8">
                        <a href="{% url 'edit_house' household.id %}" class="btn btn-secondary w-100">Edit</a>
                    </div>
                    <div class="col-8">
                        <button class="btn btn-delete btn-danger w-100" data-id="{{ household.id }}"
                            data-model="household">Delete</button>
                    </div>
                    
                </div>
                <div class="col-md-2 offset-md-1">
                    <button class="btn btn-info h-100 w-100" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{household.id}}">More...</button>
                </div>
                <div class="collapse" id="collapse-{{household.id}}">
                    <div class="card-body">
                        <hr>
                        <div class="row">

                            {% for kids in household.kids.all %}
                            <div class="col-md-4 pt-1 pb-2">
                                <div class="col-12 p-2">
                                    <h4 class="card-text text-muted h6">Name: {{ kids.name }} </h4>
                                    <p class="card-text text-muted h6">{{ kids.age }} years old</p>
                                    <p class="card-text text-muted h6">On the {{ kids.behavior }} list! </p>
                                </div>
                                <div class="col-12">
                                    <div>
                                        <a href="{% url 'edit_kid' kids.id %}" class="btn btn-secondary">Edit</a>
                                    </div>
                                    <div>
                                        <button class="btn btn-delete btn-danger" data-id="{{ kids.id }}"
                                            data-model="kid">Delete</button>
                                    </div>
                                </div>
                                



                            </div>
                            <!-- closing Kids for loop -->
                            {% endfor %}

                        </div>

                        <hr>

                        <a href="{% url 'add_kid' household.id %}" class="btn btn-primary">Add Kids!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if none %}
    <p>You have no homes to visit.</p>
    {% endif %}
</div>



{% endblock content %}


{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}