{% extends "base.html" %}
{% load static %}


{% block content %}

<div>

    <!-- Household List Column. -->
    <div class="row justify-content-center">
        <a href="{% url 'add_house' %}" class="btn btn-primary mb-3">Add a new home to visit!</a>


        {% if household_list %}

        {% for household in household_list %}
        <div class="col-md-8 mb-3 household-item card p-3">
            <div class="mb-8" data-id="{{ household.id }}">
                <div class="row">
                    <div class="col-md-9 ">
                        <h3 class="card-title pt-2 pb-2">{{ household.name }}</h3>
                        <p class="card-text text-muted h6">{{ household.city }} </p>

                        <input type="checkbox" class="visited-checkbox" id="{{ household.id }}-checkbox"
                            {% if household.visited %}checked{% endif %}>
                        <label for="{{ household.id }}-checkbox">Visited: {{ household.visited }}</label>
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ household.id }}">More...</button>
                    </div>
                    <div class="collapse" id="collapse-{{ household.id }}">
                        <div class="card-body">
                            <hr>
                            <div class="row">

                                {% for kids in household.kids.all %}
                                <div class="col-md-4">
                                    <h4 class="card-text text-muted h6">Name: {{ kids.name }} </h4>
                                    <p class="card-text text-muted h6">{{ kids.age }} years old</p>
                                    <p class="card-text text-muted h6">On the {{ kids.behavior }} list! </p>
                                </div>
                                <!-- closing Kids for loop -->
                                {% endfor %}

                            </div>

                            <hr>

                            <a href="{% url 'add_kid' household.id %}" class="btn btn-primary">Add Kids!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


        {% else %}

        <p>You have no homes to visit.</p>
        {% endif %}
    </div>
    <div class="col-md-2 mt-2 justify-content-start d-flex flex-column align-items-start">

        <a class="btn btn-primary btn-block" href="#"> Add household</a>

        <div class="align-self-end">
            <p id="nice_counter">Number of presents needed: {{ nice_count }}</p>
            <p id="naughty_counter">Number of coals needed: {{ naughty_count }}</p>
        </div>


    </div>
 
</div>

</div>

{% endblock %}