{% extends "base.html" %}
{% load static %}


{% block content %}

<div>

    <!-- Household List Column. -->
    <div class="row justify-content-center">
        <a href="{% url 'add_house' %}" class="btn btn-outline-primary">Add a new home to visit!</a> 

        {% for household in household_list %}
        <div class="col-md-10 mb-3">
            <div class="card mb-10 household-item" data-id="{{ household.id }}">
                <div class="row">
                    <div class="col-md-9 ">
                        <h3 class="card-title pt-2 pb-2">{{ household.name }}</h3>
                        <p class="card-text text-muted h6">{{ household.city }} </p>

                        <input type="checkbox" class="visited-checkbox" id="{{ household.id }}-checkbox" {% if household.visited %}checked{% endif %}>
                        <label for="{{ household.id }}-checkbox">Visited: {{ household.visited }}</label>
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{household.id}}">More...</button>
                    </div>

                    <div class="collapse" id="collapse-{{household.id}}">
                        <div class="card-body">
                            <hr>
                            
                            <p class="card-text"> Kid Details Go Here </p>
                            {% for kids in household_list.kids %}
                            
                            <!-- closing Kids for loop -->
                            {% endfor %} 
                            {% if not kids in household_list.kids %}
                            <p>You have no kids in this home to visit.</p>
                            {% endif %}
                            <a href="{% url 'add_kid' household.id %}" class="btn btn-outline-primary">Add Kids!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if not households %}
        <p>You have no homes to visit.</p>
        {% endif %}
    </div>

</div>

{% endblock %}